<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/profile.jpg" alt="Saady" class="img-thumbnail rounded-circle"
      width="200">
      <h1 class="display-4">Saady Muflih</h1>
      <p class="lead">Masih Pemula & Tidak Di Gaji</p>
    </div>
  </div>
</div>


  